.multi-question {

    .multi-question-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px 0px 5px 0px;
        align-items: center;
    }

    .numeric-input {
        margin: 10px 0px 10px 0px;
    }

    .question-container {
        align-items: center;
        margin: 5px 0px 5px 0px;
    }

    .sub-title {
        width: 200px;
        text-align: start;

    }

    .question-container {
        width: 170px;
    }
    input {
        width: 100%;
        box-sizing: border-box;
    }

}