@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

.landing-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/fondo.png");
  background-size: cover;
  background-position: center;
  color: #E0E0E0;
  text-align: center;
  padding: 20px;
  font-family: 'Chakra Petch', sans-serif;
  overflow: auto;
}

.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--nebula));
  z-index: 1;
}

.landing-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}

.landing-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #000000;
  text-shadow: 2px 2px 4px rgb(var(--space-green)), -2px -2px 4px rgb(var(--space-yellow));
}

.landing-subtitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: rgb(var(--space-green));
  text-shadow: 1px 1px 2px rgb(var(--space-green));
  transition: all 0.3s ease;
  cursor: default;
}


.landing-about {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 2rem;
  background-color: rgba(var(--space));
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(var(--space-green));
  box-shadow: 0 0 10px rgb(var(--space-green)), 0 0 20px rgb(var(--space-yellow));
  transition: all 0.3s ease;
}

.landing-about:hover {
  background-color: rgba(var(--deep-space));
  box-shadow: 0 0 15px rgb(var(--space-yellow)), 0 0 30px rgb(var(--space-green));
}

.landing-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: rgb(var(--space-green));
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(var(--space-yellow));
}

.landing-button:hover {
  background-color: rgb(var(--space-green));
  color: rgb(var(--space-yellow));
  box-shadow: 0 0 20px rgb(var(--space-yellow));
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .landing-title {
    font-size: 2.5rem;
  }

  .landing-subtitle {
    font-size: 1.2rem;
  }

  .landing-about {
    font-size: 1rem;
    padding: 15px;
  }

  .landing-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .landing-title {
    font-size: 2rem;
  }

  .landing-subtitle {
    font-size: 1rem;
  }

  .landing-about {
    font-size: 0.9rem;
    padding: 10px;
  }

  .landing-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}