body{
  background-image: url('/fondoQuestionarie.png');
}
.background-overlay{
  position: absolute;
top: 0;
left: 0;
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
justify-content: center;
background-color: var(--nebula);;
}
.stepper-container {     
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--space);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--space-green);
  box-shadow: 0 0 10px var(--space-green), 0 0 20px var(--space-yellow);
  transition: all 0.3s ease;
}
.stepper-container:hover{
background-color: var(--deep-space);
box-shadow: 0 0 15px var(--space-yellow), 0 0 30px var(--space-green);
}

.question-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 2rem;
  color: var(--space-green);
  transition: all 0.3s ease;
  cursor: default;
}

.sub-title {  
  margin-bottom: 2rem;
  color: var(--space-green);
  transition: all 0.3s ease;
  cursor: default;
}

.numeric-input,
.text-input {
  padding: 10px;
  border: 1px solid var(--eva);
  border-radius: 5px;
  font-size: 16px;
}

.text-input {
  height: 100px;
  resize: vertical;
}

.error-message {
  color: var(--space-red);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px) {
  .stepper-container {
    padding: 10px;
  }
}