:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --space: 0, 0, 0, 0.7;
  --deep-space: 0, 0, 0, 0.8;
  --space-green: 0, 255, 100;
  --tecno-green:16, 157, 60;  
  --space-yellow: 204, 255, 0;
  --space-red: 255, 0, 0;
  --nebula: 17, 22, 36, 0.56;
  --eva: 204, 204, 204; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
